<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>About</h3>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi! My name's Miles, I'm a 5th year PhD student in Electrical and Computer Engineering at Duke. I study methods 
          for representing complex, dynamic behaviors with John Pearson, and I apply them to Rich Mooney's data to understand
          how songbirds learn to sing.
        </p>
      </div>
      <div class="col-lg-4">
        <p>I'm passionate about the teaching and mentorship side of research as well. Outside of research, I have enjoyed teaching
          python and basic neuroscience to undergraduates and high schoolers throughout my PhD, and am pursuing a certificate in college 
        teaching as well. See my CV below!
       </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="assets/miles_martinez_CV_most_recent.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download CV
        </a>
      </div>
    </div>
  </div>
</section>
